:root {
  --Drenthe: #bfbfbf;
  --Overijssel: #bfbfbf;
  --North_Holland: #bfbfbf;
  --South_Holland: #bfbfbf;
  --Gelderland: #bfbfbf;
  --Limburg: #bfbfbf;
  --Zeeland: #bfbfbf;
  --Groningen: #bfbfbf;
  --Utrecht: #bfbfbf;
  --Flevoland: #bfbfbf;
  --Friesland: #bfbfbf;
  --North_Brabant: #bfbfbf;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
}

/* Header */
h1 {
  text-align: center;
  padding: 6% 0 4% 0;
  margin: 0;
}

/* Map */
#map {
  display: flex;
  justify-content: center;
  padding-bottom: 25px;
  width: 100%;
}

#map-svg {
  width: 85%;
  height: auto;
  transition: width 0.3s ease;
}

/* Floating left total percentage rectangle */
.total-percentage-rectangle {
  position: absolute;
  top: 15%;
  left: 0;
  padding: 2%;
  width: 30%;
  background-color: #00346d;
  border-radius: 0px 10px 10px 0px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.description-white-text {
  color: white;
  font-weight: bold;
  font-size: 12px;
}

#percentage {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 8px;
  color: #f6ba0a;
}

/* Province line */
#citySetContainer {
  margin: 0 auto;
}

.city-set {
  margin-bottom: 20px;
  margin-top: -10px;
}

.city-set-province {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  background-color: #f6ba0a;
  width: 100%;
  border-radius: 0 0 10px 10px;
  padding-top: 10px;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.city-set-province:before {
  content: "";
  position: absolute;
  top: -5px;
  left: 0;
  width: 100%;
  height: 10px;
  background-color: white;
  border-radius: 0 0 10px 10px;
  z-index: -1;
}

.province-name {
  margin-left: 20px;
  text-align: left;
}

.province-percentage {
  margin-right: 20px;
  text-align: right;
}

/* Cities list */
h3 {
  margin-top: 5px;
  margin-bottom: 5px;
}

.city-set-cities {
  margin-top: 10px;
}

.animated-checkbox {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-left: 20px;
}

.animated-checkbox input[type="checkbox"] {
  display: none;
}

.checkbox {
  width: 20px;
  height: 20px;
  border: 2px solid #f6ba0a;
  border-radius: 8px;
  margin-right: 10px;
  transition: background-color 0.3s;
}

.animated-checkbox input[type="checkbox"]:checked ~ .checkbox {
  background-color: #f6ba0a;
}

.animated-checkbox input[type="checkbox"]:checked ~ span {
  font-weight: bold;
}

#hint {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  padding: 5px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.2);
  color: #00346d;
  font-weight: bold;
  font-size: 16px;
}

#sticky-part {
  position: sticky;
  top: 0;
  background: white;
  border-radius: 0px 0px 10px 10px;
  box-shadow: 0 5px 10px rgb(0 0 0 / 0.2);
  z-index: 2;
}
